/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
  }

  /* footer styling */
  #footer {
    background-color: #808080;
    text-align: center;
  }